.header__box {
    display: grid;
    height: 10vh;
    grid-template-columns: 20vw 1fr 20vw;
}

.main__heading {
    min-width: 550px;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select__box {
    grid-column: 3 / 4;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list__box {
    display: flex;
    justify-content: center;
}
.countries-list__box {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.searchInput__textField {
    width: 50%;
    align-self: center;
}